

<article class="list-of-tasks wrapper">
  <h3>YOUR TASKS</h3>

  <ol>
    <% @tasks.each do |task| %>
    <li>
      <%= link_to task.title, task_path(task.id), class: "link" %>
    </li>
    <ul>
      <li class="right-border">
        <%= task.description %>
      </li>
      <li class="right-border">
        <%= task.completion_status %>
      </li>
      <li>
        <%= task.due_date %>
      </li>
      <li>
        <%= link_to "Edit", edit_task_path(task.id), class: "link" %>
      </li>
      <li>
        <%= link_to 'Delete', task_path(task.id),
              data: {:confirm => 'Are you sure?'}, :method => :delete, class: "link" %>
      </li>
    </ul>
      <% end %>
  </ol>
</article>




  <!-- <ol>
    <% @tasks.each do |task| %>
    <li>
      <%= task[:title] %>
    </li>
    <ul>
      <li class="right-border">
        <%= task[:discription] %>
      </li>
      <li class="right-border">
        <%= task[:competion_status] %>
      </li>
      <li>
        <%= task[:due_date] %>
      </li>
    </ul>
      <% end %>
  </ol> -->
