<!-- <h1>TaskList#edit</h1> -->

<div class = "row1">

<%= form_for @task do |f| %>
  <div class="name">
    <%= f.label :name%>
    <%= f.text_field :name %>
  </div>

  <!-- <%= f.label :completion_date %>
  <%= f.text_field :completion_date %> -->
  <!-- <%= f.text_field :completion_date, type:"date", min: "2017-09-22", max: "2018-12-31" %> -->

  <%= f.label :status %>
  <%= f.text_field :status %>

  <%= f.label :action, "Task details" %>
  <%= f.text_field :action%>

  <%= f.submit "save task"%>
<% end %>

</div>

<!-- <p>Find me in app/views/task_list/edit.html.erb</p> -->
