<!-- <h1>TaskList#new</h1> -->

<h1>add a task!</h1>

<%= form_for @task do |f| %>
  <%= f.label :name%>
  <%= f.text_field :name %>

  <%= f.label :status %>
  <%= f.text_field :status %>

  <%= f.label :action %>
  <%= f.text_field :action%>

  <%= f.submit "save task"%>
<% end %>

<!-- <p>Find me in app/views/task_list/new.html.erb</p> -->
