<section class="form">
  <%= form_for @task do |f| %>
  <div>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div>
    <%= f.label :description %>
  </div>
  <div>
    <%= f.text_area :description %>
  </div>
  <div class=.submit_button>
    <%= f.submit %>
  </div>

  <% end %>
</section>
