<%= form_for @task do |f| %>
<div class="form">
  <%= f.label :title %>
  <%= f.text_field :title %>
</div>

<div class="form">
  <%= f.label :description %>
  <%= f.text_field :description %>
</div>

<div class="form">
  <%= f.label :due_date %>
  <%= f.text_field :due_date %>
</div>

<%= f.submit button_text %>
<% end %>
