<%#default value for button %>
<% button_text ||= "The button" %>
<%#hide_placeholder_text ||= false %>
<%#form_class ||= "" %>

<ul class="form">
  <%= form_for @task do |f| %>
  <li>
    <%= f.label :title %>
    <%= f.text_field :title, placeholder: "e.g., Food needs" %>
  </li>
  <li>
    <%= f.label :description %>
    <%= f.text_field :description, placeholder: "e.g., carrots, ginger" %>
  </li>
  <li>
    <%= f.label :due_date %>
    <%= f.text_field :due_date, placeholder: "e.g., 2017-9-21" %>
  </li>
  <li>
    <%= f.submit button_text, class:"button"%>
  </li>
  <% end %>
</ul>

<%#<% button_text ||= "The button" %>
<%#<% form_class ||= "" %>

<%#<%= form_for @task, html: { class: form_class } do |f| %>
    <%#<%= f.label :title %>
    <%#<%= f.text_field :title, hide_placeholder_text ? "" : "title" %>

    <%#<%= f.label :description %>
    <%#<%= f.text_field :description %>

    <%#<%= f.label :due_date %>
    <%#<%= f.text_field :due_date %>

    <%#<%= f.submit button_text %>
  <%#<% end %>

  <%# in edit.html.erb %>
  <%# also add css class to css file %>

<%#  <%= render partial: "form", locals: { hide_placeholder_text: true, form_class: "blue", button_text: "Save changes" } %>
