<div class="form">
  <%= form_for @task do |task| %>
  <h1 class='view_title'><%=form_name%></h1>
  <p>
    <%= task.label :Task_Name %>
    <%= task.text_field :name %>
  </p>
  <p>
    <%= task.label :Task_Description %>
    <%= task.text_field :description %>
  </p>
  <p>
    <%= task.label :Due_Date %>
    <%= task.text_field :date %>
  </p>
  <div class="submit_container">
    <%= task.submit button_name, :class => "submit"%>
  </div>
  <% end %>
</div>
