<section>
  <h2>Your Tasks</h2>
  <ol>
    <% @tasks.each do |task| %>
      <li>
        <p>
          <strong>
            <%= link_to task.task, task_path(task.id) %>
          </strong>
        </p>
      </li>
      <p>
        Details: <%= task.description %>
      </p>
      <p>
        <%= task.due %>
      </p>
      <p>
        <%= link_to 'Edit', edit_task_path(task) %> |
        <%= link_to 'Delete', task_path(task), method: :delete %>
      </p>
    <% end %>
  </ol>
</section>

<%= render partial: 'nav' %>
