<h1>Tasks#edit</h1>
<section>
  <%= form_for @task do |f| %>

    <section class = "input">
      <%= f.label :name %>:
      <%= f.text_field :name %>
    </section>

    <section class = "input">
      <%= f.label :description %>:
      <%= f.text_field :description %>
    </section>

    <section class = "input">
      <%= f.label :status %>:
      <%= f.text_field :status %>
    </section>

    <section class = "input">
      <%= f.label :completion_date %>:
      <%= f.text_field :completion_date %>
    </section>

    <%= f.submit %>
  <% end %>

</section>
