<section class="container">
  <section class="title">
    <h1 id="list_name">Task List</h1>
    <%= button_to "+", new_task_path, method: :get %>
  </section>
  <ul id="index_list">
    <% @tasks.each do |task| %>
    <section class="task">
      <br>
      <% if task.complete? %>
      <%= button_to "\u{2714}", complete_task_path(task.id), method: :patch %>
      <section class="task_details">
        <li class="complete"><strike><%= task.name %></strike></li>
        <p class="complete">Completed on: <%= task.completion_date.strftime("%d.%m.%y") %></p>
        <% else %>
        <%= button_to " ", complete_task_path(task.id), method: :patch %>
        <section class="task_details">
          <li class="task"><%= link_to task.name, task_path(task.id) %></li>
          <% end %>
          <p class="task_details">Due Date: <%= task.due_date %></p>
          <p class="task_details">Description: <%= task.description %></p>
          <br>
          <%= link_to image_tag("edit_pencil.png", alt: "edit button"), edit_task_path(task.id), method: :get %>
          <%= link_to image_tag("delete.png", alt: "delete button"), delete_task_path(task.id), method: :delete, data: { confirm: "Delete task?" } %>
        </section>
      </section>
      <% end %>
    </ul>
  </section>
