<main>

  <section class="task-list">
    <h1>Your Tasks</h1>
    <ul>
      <% @tasks.each do |task| %>
        <li>
        <% if task.done %>
          <p class="done">
            <%= link_to "", markdone_task_path(task.id), method: :patch, class: "fa fa-check-square-o", alt: "Mark Task Not Done" %>
        <% else %>
          <p>
            <%= link_to "", markdone_task_path(task.id), method: :patch, class: "fa fa-square-o", alt: "Mark Task Done" %>
        <% end %>
            <%= link_to(task.name, task_path(task.id), alt: "link to") %>
          </p>
          <p><%= task.description %></p>
          <section class="task-action-buttons">
            <%= link_to "", edit_task_path(task.id), class: "fa fa-pencil-square-o", alt: "Edit Task" %>
            <%= link_to("", delete_task_path(task.id), method: :delete, data: { confirm: 'Are you sure?' }, class: "fa fa-trash", alt: "Delete Task")%>
          </section>
          <p>Deadline: <%= task.completion_date %></p>
        </li>

      <% end %>
    </ul>
  </section>
</main>
