<link href="https://fonts.googleapis.com/css?family=Baloo+Tammudu" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Vibur" rel="stylesheet">


<!-- <body>
  <header>
    <ul class="navigation">
      <li>Donut Forget!</li>
    </ul>
  </header>

  <section class="task-body">
    <div class="all-task-actions">
      <ul>
        <li><%= link_to "Add Task", new_task_path %></li>
        <li><%= link_to "All Tasks", tasks_path %></li>
      </ul>
    </div> -->

    <!-- <div class="information-box"> -->
      <h2 class="task-heading">You Need To...</h2>
      <ul id="task-box">
        <% @tasks.each do |task| %>
          <% if task.status == "complete" %>
              <li class="complete-task">
                <%= image_tag 'donut-transparent.png', alt: "A delicious sprinkled donut", class: "donut-image" %><span class="strike"><%= task[:name] %> <span/>
              </li>
            <% else %>
              <li class="tasks ">
                <%= image_tag 'donut-transparent.png', alt: "A delicious sprinkled donut", class: "donut-image" %><%= task[:name] %>
              </li>
            <% end %>
        <div class="task-actions">
          <% if task[:status] == "incomplete" %>
              <li class="action"><%= link_to "Mark Complete", mark_complete_path(task.id), method: :patch %></li>
          <% else %>
              <li class="action"><%= link_to "Mark Incomplete", mark_complete_path(task.id), method: :patch %></li>
          <% end %>

          <li class="action"><%= link_to "Edit", edit_task_path(task.id) %></li>
          <li class="action"><%= link_to "Delete", delete_task_path(task.id), method: :delete, data: {confirm: "Are you sure?"} %>
          </li>
          <li class="action"><%= link_to "Show", task_path(task.id) %></li>

        </div>
        <% end %>
      </ul>
    <!-- </div>
  </section>

  <footer>
    &copy;Kimberley Mackenzie 2017
  </footer> -->
</body>
