<section class=''>
  <h2>Your Tasks</h2>
    <ol>
      <% @tasks.each do |task| %>
        <li>
          <p>
            <strong>
              <%= link_to '#{task[:task]}', task %>
            </strong>
          </p>
          <%= link_to 'Edit', edit_task_path(task) %> |
          <%= link_to 'Delete', task_path(task), method: :delete %>
      </li>
    <% end %>
  </ol>
</section>

<section class=''>
  <%= link_to 'Add', new_task_path %> |
  <%= link_to "List all tasks", tasks_path %>
</section>
