

<section class="wrapper">
  <div class="leftline">
    <h1> TASKLIST</h1>
    <h3> <%= link_to "Add task", new_task_path%> </h3>
    <h3><%= link_to "All tasks", home_url %> </h3>
  </div>
  <div class="box">
    <h1>My tasks</h1>
    <ol>
      <% @tasks.each do |task| %>
        <li>
          <p><strong><%= link_to task.title, task_path(task.id)%><strong></p>
            <div class="choose">

              <% if task.complete == "t" %>
                <h4 class = "unmark"><%= link_to "Unmark Completed", update_task_path(task.id, :task => {:complete => "f"}), method: :patch %> |</h4>
              <% else %>
                <h4><%= link_to "Mark Completed", update_task_path(task.id, :task => {:complete => "t"}), method: :patch %> |</h4>
              <% end %>

            <h4><%= link_to "Edit", edit_task_path(task.id) %> |</h4>
            <h4><%= link_to "Delete", delete_task_path(task.id), method: :delete %></h4>
          </div>
        </li>
      <% end %>
    </ol>
  </div>
</section>
