<h2>YOUR TASKS</h2>
<ol>
  <% @tasks.each do |task|%>
    <li>
      <strong><%= link_to "#{task.title}", task_path(task.id) %></strong>
      <p>
        <em><%= task.description%></em> :
        <%= task.due_date %>
      </p>
      <!-- id=“boolean” -->
      <p>
        <% if task.complete == true %>
           <%= link_to "Unmark Complete", uncomplete_task_path(task.id), method: :put %>
        <% else%>
          <%= link_to "Mark Complete", complete_task_path(task.id), method: :put %>
        <% end %>

          | <%= link_to "Edit", edit_task_path(task.id) %> |

        <%= form_tag task_path(task.id), method: :delete do%>
          <%submit_tag "Delete" %>
         <% end %>

         <%# link_to ‘Delete’,
         task_path(task),
         method: :delete,
         data: { confirm: ‘Are you sure?’ } %>

      </p>
    </li>
  <% end %>
</ol>

<!-- in css set #boolean to strikethrough -->
