
<div class="tasklist">


  <h2>Your Tasks</h2>

  <ol>
    <% @tasks.each do |task| %>
    <li>
      <% if task.complete == true  %>
        <div class="complete">
          <%= link_to(task.name, task_path(task.id)) %>
        </div>
      <%else %>
        <div class="incomplete">
          <%= link_to(task.name, task_path(task.id)) %>
        </div>
        <%end%>


    <%=button_to "Edit", edit_task_path(task.id), method: :get%>
    <%=button_to "Delete", task_path(task), method: :delete, data: {confirm: "Are you sure you want to delete this task?"} %>

    <% if task.complete  %>
      <%=button_to "Incomplete", update_task_path(task.id, {:task => {:complete => false}, :refresh => true}), method: :patch%>
      <%else %>
        <%=button_to "Complete", update_task_path(task.id, {:task => {:complete => true, :completion_date => Date.today }, :refresh => true} ), method: :patch%>
      <%end%>

    </li>
    <% end %>
  </ol>

</div>
