<main class="index_main">

<!-- <h1 class="index">TASKLIST</h1> -->
<%= render partial: "nav_buttons" %>

<section class="task_list">
  <h2>YOUR TASKS</h2>
  <ol>
    <% @tasks.each do |task| %>
    <li>
      <p class="<%= completed_status_class(task) %>">
        <%= link_to(task.name, task_path(task.id)) %>
      </p>
      <%= link_to(task.completed ? "Unmark Complete" : "Mark Complete", mark_complete_path(task.id), method: :patch) %>  |
      <%= link_to("Edit", edit_task_path(task.id)) %>  |  <%= link_to("Delete", delete_task_path(task.id), method: :delete, data: {confirm: "Do you REALLY want to delete me?!"}) %>
      </p>
    </li>
    <% end %>
  </ol>
</section>
<footer>
  <h4>copywrite 2017</h4>
</footer>


</main>
