<!-- <h1>Tasks#index</h1>
<p>Find me in app/views/tasks/index.html.erb</p> -->

  <div class="your-tasks-container">
    <h2>YOUR TASKS</h2>
    <ol>
      <% @tasks.each do |task| %>
          <li>
            <%if task.completion_date == nil%>
              <strong><%= link_to(task.name, task_path(task.id), alt: 'link to task#show')%></strong>
              <br/>
              <div class="task-options-row">
                <%= link_to "Mark Complete", task_complete_path(task.id), method: :patch %>
                <%= link_to "Edit", edit_task_path(task.id) %> |
                <!-- <%= link_to "Delete", delete_task_path(task.id), method: :delete, alt: 'link to task#destroy' %> -->
                <%= link_to 'Delete', delete_task_path(task.id), method: :delete, data: {confirm: "Are you sure you would like to delete this task?"} %>
              </div>
            <% else %>
              <strong><%= link_to(task.name, task_path(task.id), alt: 'link to task#show', class: 'striked')%></strong>
              <br/>
              <div class="task-options-row">
                <%= link_to "Completed #{task.completion_date}", task_complete_path(task.id), method: :patch %>
                <%= link_to "Edit", edit_task_path(task.id) %> |
                <!-- <%= link_to "Delete", delete_task_path(task.id), method: :delete, alt: 'link to task#destroy' %> -->
                <%= link_to 'Delete', delete_task_path(task.id), method: :delete, data: {confirm: "Are you sure you would like to delete this task?"} %>
              </div>
            <%end %>
          </li>
      <% end %>
    </ol>
  </div>
