<main>

  <section class="task-list">
    <h1>Your Tasks</h1>
    <ul>
      <% @tasks.each do |task| %>
        <li>
        <% if task.done %>
          <p class="done">
            <i class="fa fa-check-square-o" aria-hidden="true"></i>
            <%= link_to(task.name, task_path(task.id), alt: "link to") %>
          </p>
          <p>
            <%= task.description %>
          </p>
        <% else %>
          <!--  Would be nice to figure out how to update the status of a task :/ -->
          <p>
            <a href="#" title="mark as done"><i class="fa fa-square-o" aria-hidden="true"></i></a>
            <%= link_to(task.name, task_path(task.id), alt: "link to") %>
          </p>
          <p>
            <%= task.description %>
          </p>
        <% end %>
        <section class="task-action-buttons">
          <%= link_to "", edit_task_path(task.id), class: "fa fa-pencil-square-o", alt: "Edit Task" %>
          <%= link_to "", delete_task_path(task.id), method: :delete, class: "fa fa-trash", alt: "Delete Task" %>
        </section>
        </li>

      <% end %>
    </ul>
  </section>
</main>
