<article class="content">

<!-- <h1>List of Tasks</h1>


<section class="your_tasks">
<ol> -->

<%= render partial: "priority", locals: { input_priority: 0 } %>



<!-- </ol>
</section> -->
</article>
<article class="content priority1">
<section class ="your_tasks ">
<ol>
  <%= render partial: "priority", locals: { input_priority: 1 } %>
</ol>

</section>
</article>

<article class="content priority2">
<section class ="your_tasks ">
<ol>
  <%= render partial: "priority", locals: { input_priority: 2 } %>
</ol>

</section>
</article>

<article class="content priority3">
<section class ="your_tasks ">
<ol>
  <%= render partial: "priority", locals: { input_priority: 3 } %>
</ol>

</section>
</article>

<article class="content priority3">
<section class ="your_tasks ">
<ol>
  <%= render partial: "priority", locals: { input_priority: 4 } %>
</ol>

</section>
</article>
