<h1>Maria's Task List</h1>

<section id="lists">

<% @tasks.each do |task| %>
  <li>
   <%= link_to(task.name, task_path(task.id)) %>
   <%= button_to task.completed ? "Unmark completed" : "Mark completed", mark_complete_path(task.id), method: :patch %>
   <%= button_to "Edit Task", edit_task_path(task.id), method: :get  %>
   <%= button_to "Delete", delete_task_path(task.id),  method: :delete, data: { confirm: "Are you sure you want to delete #{task.name}?" } %>
 </li>
<% end %>

</section>

<%= link_to "Add New Task", new_task_path %>
