
<div>
<section >
  <h1>
    TASK LIST
  </h1>
  <ul>
    <il>
      <%= link_to "Add Task", new_task_path %>
    </il>
    <il>
      All Task
    </il>
  </ul>
</section>

<section id="list">
<h2>YOUR TASKS</h2>
<ul>
  <% @tasks.each do |task|  %>
    <li>
      <h3>
        <%= link_to task.title, task_path(task.id) %>
      </h3>
      <!-- <P>
       <%= task[:description] %>
      </P>

      <P>
      Due:  <%= task[:duedate] %>.
      </P>

      <p>
        Status: <%= task[:complete]%>
      </p> -->
    </li>
  <% end %>
</ul>
</section>
</div>


<footer>
  <p>
  &copy 2017
</p>
</footer>
