<h2>YOUR TASKS</h2>
<ol>
  <% @tasks.each do |task|%>
    <li>
      <strong><%= link_to "#{task.title}", task_path(task.id) %></strong>
      <p>
        <em><%= task.description%></em> :
        <%= task.due_date %>
      </p>
      <p>
        <!-- <%= form_tag complete_task_path(task.id), method: :put do%>
        <%submit_tag "complete" %>
        <% end %> -->
         <%= link_to "#{task.complete}", complete_task_path(task.id), method: :put %> | <%= link_to "Edit", edit_task_path(task.id) %> | <%= form_tag task_path(task.id), method: :delete do%>
          <%submit_tag "Delete" %>
         <% end %>


         <%# link_to "Delete", task_path(task.id) %>

      </p>
    </li>
  <% end %>
</ol>

<!-- in css set #boolean to strikethrough -->

    <% if task.status == false %>
    <strong id=“boolean”> <%= task.name %> </strong> <p> <%= link_to “Unmark Complete”, unmark_complete_path(task.id), method: :patch %> </p>

    <% else %>
    <strong> <%= link_to task.name, task_path(task) %> </strong>
    <p> <%= task.description %>

    <em>Do by: </em><%= task.completion_date %> </p>

    <p><%= link_to “Edit”, edit_task_path(task.id) %>

      | <%= link_to ‘Delete’,
      task_path(task),
      method: :delete,
      data: { confirm: ‘Are you sure?’ } %> |

      <%= link_to  “Mark Complete”, mark_complete_path(task.id), method: :patch %>

    </p>
    <% end %>
  </li>
  <% end %>
</ol>
