

<section id="index_container">
  <h2 id="to_do"> # TODO</h2>
  <ul class="to_do_list">
    <% counter = 0 %>
    <% @tasks.each do |task| %>
    <% counter += 1 %>
    <li>
      <%= counter %>)
      <span <%= task.status ? "class=strikethrough"  : "class=normal" %>>

          <%= link_to(task.name, task_path(task.id), alt: "link to task name", class: "task_link") %>
      </span>

      <span class="sublist_and_box">
        <ul class="bullet_list">
          <li >
            <form>

            <div class="squaredThree">
              <label for="checkbox-input" <%= task.status ? "class=strikethrough"  : "class=normal" %>>

                  <%= link_to("Initial Commit", mark_initial_complete_path(task.id), {method: :patch, alt: "link to mark initial complete", class: "task_link"}) %>
              </label>
              <input type="checkbox" id="checkbox-input" value="None" name="check" <%= task.initial_status ? "checked" : "unchecked" %> />
              <label for="squaredThree"></label>
            </div>
          </form>

          </li>

          <li >
            <form>

              <div class="squaredThree">
                <label for="checkbox-input" <%= task.status ? "class=strikethrough"  : "class=normal" %>>

                    <%= link_to("Final Pull Request", mark_final_complete_path(task.id), {method: :patch, alt: "link to mark final complete", class: "task_link"}) %>

                </label>
                <input type="checkbox" id="checkbox-input" value="None"  name="check" <%= task.final_status ? "checked" : "unchecked" %> />
                <label for="squaredThree"></label>
              </div>
            </form>

          </li>
        </ul>
      </li>

      <p>
        <%= link_to(task.status ? "Unmark Complete" : "Mark Complete", mark_complete_task_path(task.id), {method: :patch, alt: "link to mark complete", class: "task_link" }) %>
        <%= link_to("Edit", edit_task_path(task.id), {alt: "link to edit", class: "task_link", id: "edit_link"}) %>
        <%= link_to("Delete", task_path(task.id), {method: :delete, alt: "link to delete", class: "task_link", data: {confirm: "Are you sure you want to delete this task?"} }) %>
        <% end %>
      </p>
    </ul>
  </section>
