
<section class="task-list">
  <h3>your tasks</h3>
  <ul>
    <% @tasks.each do |task| %>
      <li>
        <% if task.status == true %>
        <p>
          <strong class="complete">
          <%= task.title %>
          </strong>
        </p>
        <div class="actions">
          <span>
            <%= link_to "mark incomplete", mark_as_incomplete_path(task.id), method: :patch, data: { confirm: "You sure you're not done this?" }, class: "link" %>
          </span>
          |
          <span>
            <%= link_to "edit", edit_task_path(task.id), class: "link" %>
          </span>
          |
          <span>
            <%= link_to "delete", tasks_path(task.id), class: "link" %>
          </span>
        </div>
        <% else %>
        <strong>
          <p>
            <%= link_to task.title, task_path(task.id), class: "link" %>
          </p>
        </strong>
      </li>
      <div class="actions">
        <span>
          <%= link_to "mark complete", mark_as_complete_path(task.id), method: :patch, data: { confirm: "You sure you're done this?" }, class: "link" %>
        </span>
        |
        <span>
          <%= link_to "edit", edit_task_path(task.id), class: "link" %>
        </span>
        |
        <span>
          <%= link_to "delete", task_path(task.id), method: :delete, data: { confirm: "You sure?" }, class: "link" %>
        </span>
      </div>
      <% end %>
    <% end %>
  </ul>

</section>



<%# form_tag book_path(book.id), metthod: :delete do %>
<%# text_field_tag "book[author]", "J.K.Rowling" %>
<%# text_field_tag "book[title]", "J.K.Rowling" %>
<%# end %>
