<h2>To Do List</h2>
<p>
  <%= link_to "List All Tasks", tasks_path%>
  <%= link_to "New Task", new_task_path %>

  <ul>
    <% @tasks.each do |task| %>
    <li class = "task">
      <strong><%= link_to task.title, task_path(task.id)%></strong>,  <%= task[:description] %>, <%= task[:date] %>, <%= task[:status] %>
    </li>
    <% end%>
  </ul>
</p>
