<link href="https://fonts.googleapis.com/css?family=Baloo+Tammudu" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Vibur" rel="stylesheet">


<!-- <body>
  <header>
    <ul class="navigation">
      <li>Donut Forget!</li>
    </ul>
  </header>

  <section class="task-body">
    <div class="all-task-actions">
      <ul>
        <li><%= link_to "Add Task", new_task_path %></li>
        <li><%= link_to "All Tasks", tasks_path %></li>
      </ul>
    </div> -->

    <!-- <div class="information-box"> -->
      <h2 class="task-heading">You Need To...</h2>
      <ul id="task-box">
        <% @tasks.each do |task| %>
          <li class="tasks">
            <%= image_tag 'donut-transparent.png', alt: "A delicious sprinkled donut", class: "donut-image" %><%= task[:name] %>
          </li>
        <div class="task-actions">
          <li class="action">Mark Complete</li>
          <li class="action">Edit</li>
          <li class="action">Delete</li>
          <li class="action"><%= link_to "Show", task_path(task.id) %></li>

        </div>
        <% end %>
      </ul>
    <!-- </div>
  </section>

  <footer>
    &copy;Kimberley Mackenzie 2017
  </footer> -->
</body>
