<h1>All the Tasks!</h1>
<ul>
  <% @tasks.each do |task| %>
  <li>Task:
    <strong><%= link_to(task.name, task_path(task.id)) %></strong>
  </li>
  <li>Description:
    <strong><%= task.description %></strong>
  </li>
  <li>
    <% if task.completed %>
    <%= button_to("Incomplete Task", complete_task_path(task.id), method: "patch") %>
      <strong>Completed on <%= task.completion_date %></strong>
    <% else %>
      <%= button_to("Complete Task", complete_task_path(task.id), method: "patch") %>
    <% end %>
  </li>
  <% end %>
</ul>
