<div class='container'>

  <header class="home">
    <h1>Task List</h1>
  </header>
  <main class="index">
    <div class='main-block'>

      <%= image_tag('this_is_fine_dog.png', alt: 'This is Fine cartoon', class: "main-image") %>

      <ul>
        <li id='add'>
          <%# link_to('Add Task', create_task_path, method: :new) %>
          <%= button_to('Add Task', new_task_path, method: :get) %>
        </li>
        <li id='all'>
          <%# link_to('All Tasks', tasks_path) %>
          <%= button_to('All Tasks', tasks_path, method: :get) %>
        </li>
      </ul>
    </div>

    <div class='list'>

      <h2>The Clock is Ticking...</h2>

      <ol>
      <% @tasks.each do |task| %>
        <% @status = task.completion_date ? 'complete' : 'incomplete' %>
        <% @overdue = !task.completion_date && task.due_date < Date.today ? 'overdue' : 'on-time' %>
        <li class= "task <%= @status %> <%= @overdue %>" >
          <%= link_to(task.name.capitalize, task_path(task.id)) %>
        </li>
        <ul class='options'>
          <li>
            <% @toggle = task.completion_date ? 'Unmark Complete' : 'Mark Complete' %>
            <%= link_to(@toggle, complete_task_path(task.id), method: :patch) %>
          </li>
          <li id='edit-task'>
            <%= link_to 'Edit', edit_task_path(task.id) %>
          </li>
          <li id='delete-task'>
            <%= link_to('Delete', delete_task_path(task.id), method: :delete, data: { confirm: "Delete #{task.name} from task list?" } ) %>
          </li>
        </ul>
        </li>

      <% end %>
      </ol>
    </div>

    <!-- <div class='buttons'> -->


    <!-- </div> -->
  </main>
</div>
