<!-- home right navigation links -->
<nav class="tasklist-nav">
  <ul>
    <li><%= link_to("Add Task", new_task_path, alt: 'new_task form') %></li>
    <li><%= link_to("All Tasks", root_path, alt: 'homepage')%></li>
  </ul>
</nav>

  <div class="your-tasks-container">
    <h2>YOUR TASKS</h2>
    <ol>
      <% @tasks.each do |task| %>
          <li>
            <%if task.completion_date == nil%>
              <strong>
                <%= link_to(task.name, task_path(task.id), alt: 'link to task#show', class: 'no-underline')%>
              </strong>
              <br/>
              <div class="task-options-button">
                <%= link_to("Mark Complete", task_complete_path(task.id), method: :patch, class: 'no-underline') %> |
              </div>
              <div class="task-options-button">
                <%= link_to("Edit", edit_task_path(task.id), class: 'no-underline') %> |
              </div>
              <div class="task-options-button">
                <%= link_to('Delete', delete_task_path(task.id), method: :delete, data: {confirm: "Are you sure you would like to delete this task?"}, class: 'no-underline') %>
              </div>
            <% else %>
              <strong>
                <%= link_to(task.name, task_path(task.id), alt: 'link to task#show', class: 'striked')%>
              </strong>
              <br/>
              <div class="task-options-button">
                <%= link_to("Completed #{task.completion_date}", task_complete_path(task.id), method: :patch, class: 'no-underline') %> |
              </div>
              <div class="task-options-button">
                <%= link_to("Edit", edit_task_path(task.id), class: 'no-underline') %> |
              </div>
              <div class="task-options-button">
                <%= link_to('Delete', delete_task_path(task.id), method: :delete, data: {confirm: "Are you sure you would like to delete this task?"}, class: 'no-underline') %>
              </div>
            <%end %>
          </li>
      <% end %>
    </ol>
  </div>
