<div class="your-tasks">
  <h2>YOUR TASKS</h2>
  <ol>
    <% @tasks.each do |task| %>
      <li>
        <strong><%= link_to "#{task[:title]}", task_path(task[:id]) %></strong><br/>Mark Complete |  | Delete
        <!-- <%= link_to "Edit", edit_task_path(task[:id]) %> -->
        <!-- <%= form_tag task_path(task.id), method: :delete, class: "delete_task_form" do %> -->
          <!-- <%= text_field_tag "task[title]" , "Pet Cat" %>
          <%= text_field_tag "task[title]", "Pet Cat" %> -->
          <!-- <%= submit_tag "Delete Task" %> -->
        <!-- <% end%> -->
      </li>
    <% end%>
  </ol>
</div>
