<h1>Tasks</h1>
params are: <%= params %>
</p>
<% @tasks.each do |task| %>
<ul>
  <li>
    <strong><%= task[:id] %></strong>
  </li>
  <li>
    <strong><%= task[:title] %></strong>
  </li>
  <li>
    Due: <%=task[:due]%>
  </li>
  <li>
    Priority: <%=task[:priority]%>
  </li>
  <li>
    Completed: <%=task[:completed]%>
  </li>
  </ul>
  <% end %>

<p>Find me in app/views/tasks/index.html.erb</p>
