<h1 id="app_name">Gitturdun</h1>
<ul id="index_list">
  <% @tasks.each do |task| %>
    <% if task.completion_date %>
      <p><%= link_to "Mark Incomplete", complete_task_path(task.id), method: :patch %></p>
      <li><strike><%= task.name %></strike></li>
    <% else %>
      <p><%= link_to "Mark Complete", complete_task_path(task.id), method: :patch %></p>
      <li class="task"><%= link_to task.name, task_path(task.id) %></li>
    <% end %>
    <p><%= task.due_date %></p>
    <section class="task_buttons">
      <p class="edit"><%= button_to "Edit", edit_task_path(task.id), method: :get %></p>
      <p class="delete"><%= button_to "Delete", delete_task_path(task.id), method: :delete, data: { confirm: "Delete task?" } %></p>
    </section<
  <% end %>
<ul>
<p class="add"><%= button_to "+", new_task_path, method: :get %></p>
<p class="all"><%= button_to "All", tasks_path, method: :get %></p>
