<h2>Create new Tasks</h2>

<p>
  <%= link_to "Home", tasks_path, class: "navigation"%>
</p>

<div>
  <p>
    <%= form_for @task do |f| %>
      <%= f.label :title %>
      <%= f.text_field :title %>
      <br />
      <%= f.label :description %>
      <%= f.text_field :description %>
      <br />
      <%= f.label :due_date %>
      <%= f.date_field :due_date %>
      <br />
      <%= f.submit "Make a new task"%>
    <% end %>



</div>
