<h2>Add a new task:</h2>

<%= form_for @task do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %>

  <%= f.label :description %>
  <%= f.text_field :description %>

  <%= f.label :due_date %>
  <%= f.date_field :due_date %>

  <%= f.submit "Add Task"%>
<%end%>



<!-- this is generic html form - don't use with rails. But good to know whats going on behind the scenes.-->
<!-- <form action="/tasks" method="post" accept-charset="utf-8">
  <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">


  <label for="title">Title</label>
  <input type="text" name="title" value="" placeholder="eg: make dinner"id="title">


  <label for="description">Description</label>
  <input type="text" name="description" id="description">

  <label for="due_date">Due Date</label>
  <input type="date" name="due_date" value="" id="due_date">

  <label for="complete">Complete?</label>
  <input type="checkbox" name="complete" id="complete">

  <input type="submit" value="Submit">
</form> -->


<!-- use this for forms not associated with a model. -->
<%# form_tag tasks_path do %>
  <%# label_tag "task[title]", "Title" %>
  <%# text_field_tag "task[title]" %>

  <%# label_tag "task[description]", "description" %>
  <%# text_field_tag "task[description]" %>

  <%# label_tag "task[due_date]", "Due Date" %>
  <%# date_field_tag "task[description]" %>

  <%# label_tag "task[complete]", "Complete" %>
  <%# check_box_tag "task[complete]" %>

  <%# submit_tag "Add Task" %>

<%#end%>
