<h2>new task</h2>

<%= form_for @task do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title, placeholder: "e.g., Food needs" %>

  <%= f.label :description %>
  <%= f.text_field :description, placeholder: "e.g., carrots, ginger" %>

  <%= f.label :due_date %>
  <%= f.text_field :due_date, placeholder: "e.g., 2017-9-21" %>
  <%= f.submit "Make a new task!"%>
<% end %>


<!-- <form action="/tasks" method="post" accept-charset="utf-8"> -->
  <!-- SPECIAL INPUT TO ALLOW RAILS TO USE THIS FORM -->
  <!-- <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden"> -->


  <!-- <label for="title">Title</label> -->
  <!-- <input type="text" name="title" placeholder="e.g., Food needs" value="" id="title"> -->

  <!-- <label for="description">Description</label> -->
  <!-- <input type="text" name="description" placeholder="e.g., carrots, ginger" value="" id="description"> -->

  <!-- <label for="due_date">Due date</label> -->
  <!-- <input type="text" name="due_date" placeholder="e.g., 2017,9,21" value="" id="due_date"> -->

  <!-- <input type="submit" value="Submit"> -->
<!-- </form> -->
