

  <h2><strong> <%=  @task[:title] %> </strong></h2>
  <ul>

  <li><%= @task[:description] %></li>
  <li><%= @task[:date] %>,</li>
  <li><% if @task[:status] == true %> Status: Completed <% else %> Status: Incomplete <% end %> </li>

 </ul>

  <%= link_to "Edit", edit_task_path(@task.id) %>
  <%= link_to "Delete", delete_task_path(@task.id), method: :delete, data: { confirm: "Are you sure you want to delete this task?" }%>
  <%= link_to "Mark as Completed", update_status_path(@task.id), method: :patch %>
