<% if @task %>
<% else %>
<h1>404: Not Found</h1>
<% end %>

<h1>Task #<%=@task.id %>: <%=@task.name %>
</h1>

<div class="edit_pic">

<%= link_to image_tag("http://www.clker.com/cliparts/B/l/1/P/z/N/edit-icon-hi.png", alt: "Image goes to edit task page") , edit_task_path(@task.id) %>
</div>

<div class="delete_pic">

<%= link_to image_tag("https://image.flaticon.com/icons/png/128/61/61391.png", alt: "Image goes to delete page") , delete_task_path(@task.id), method: :delete %>
</div>

<div class="all_tasks_pic">
<%= link_to  image_tag("http://www.jeansforgenesday.org/static/images/up/checklist-large-2015.gif", alt: "Image goes to all tasks page"), tasks_path(@task) %>
</div>

<div class = tasks>
<h3>
  Name of the task: <%= @task.name %>
</h3>
<h3>
  About the task: <%= @task.description %>
</h3>
<h3>
  Due date: <%= @task.due_date %>
</h3>
<h3>
  Status: <%= @task.status %>
</h3>
</div>
