<!-- Individual Task Page -->
<h2>One Task at a Time!</h2>

<h3>
  <%= @task.name %>
  <%= link_to "Edit", edit_task_path(@task.id) %>
  <%= link_to "Delete", delete_task_path(@task), method: :delete, data: { confirm: 'Are you sure you want to delete this task?' }  %>
</h3>

<p>
  Description: <%= @task.description %>
</p>


<!-- Home Link -->
<%= link_to "Home", tasks_path %>

<!-- Footer -->
<footer>
  <div class="footer">
    <p id="copyright">
      &copy; 2017 - Stefanie Gunderson, keeping it simple.
    </p>
  </div>
