<h2><%= @task.title %></h2>


<p>
  <strong>
    Description:
  </strong>
  <%= @task.description %><br>

  <strong>
    Due Date:
  </strong>
  <%= @task.due_date %><br>

  <strong>
    Completed
  </strong>
  <%= @task.completed %>

  <%= link_to "Edit", edit_path(@task[:id]) %>

</p>

<%# check_box("tag", tag.id, {checked: if @task.completed == true }) %>
