<% if @task %>
  <h1>
    <%= @task.id %>. <%= @task.name %>
  </h1>
  <p>
    Status: <%=@task.status%>
  </p>
  <p>
    Description: <%=@task.description%>
  </p>
  <p>
    Completion Date: <%=@task.completion_date%>
  </p>

<%else%>
  <h1> 404: Not Found</h1>
<% end %>

<%= link_to "Home", tasks_path %>
