<h1>To Do: <%= @task.name %></h1>
<ul>
  <li>
    <%= @task.description %>
  </li>
  <li>
    Due: <%= @task.due %>
  </li>
  <li>
    Status: <%= @task.status %>
  </li>
</ul>

<ul>
  <li class="button">
    <%= link_to "Edit", edit_task_path(@task.id) %>

  </li>
  <li class="button">
    <%= link_to "List", root_path %>
  </li>
</ul>
