<h2>Closer inspection of task details</h2>

<p>
  <%= link_to "Home", tasks_path %>
</p>

<div>
  <h3><%=@task.title %></h3>
  <p>
      Description: <%= @task.description %>
  </p>

  <p>
    Due: <%= @task.due_date %>
  </p>

  <p>
    Complete? <%= @task.complete %>
  </p>

  <p>
    <%= link_to "Edit Task", edit_task_path%>
  </p>


</div>
