<h1><%=@task.title %></h1>

<nav>
  <ul>
  <li>
    <%= link_to "Edit task", edit_task_path, class: "link"%>
  </li>
  <li>
  <%= link_to("delete this task", delete_path, method: :delete, data: {confirm: "are you sure? you can't undo this."})%>
  </li>
  <li>
    <%= link_to "All tasks", tasks_path, class: "link"%>
  </li>
</ul>
</nav>



<ul>
<li>Description: <%= @task[:description]%></li>

<li>Due Date: <%=@task[:due_date].month%>-<%=@task[:due_date].day%>-<%=@task[:due_date].year%></li>


</ul>
