<h2>Task Details</h2>
<!-- <p>TODO:  Add a Task</p> -->

<div>
  <strong><%= @task.title %></strong>
  <p><%= @task.description %></p>
  <!-- <p><%= @task.complete %></p> -->
  <p><%= @task.due_date %></p>
  <%= link_to "Edit Task", edit_task_path(@task.id) %>
</div>
