


<p>
    <strong><%= link_to "#{@task.title}", task_path(@task.id) %></strong>
    <p>
      <em><%= @task.description%></em> :
      <%= @task.due_date %>
    </p>
    <p>
       <%= link_to "#{@task.complete}", complete_task_path(@task.id)%> | <%= link_to "Edit", edit_task_path(@task.id) %> | <%= link_to "Delete", task_path(@task.id) %>
    </p>
</p>
