<h2 class="task-heading"><%= @task[:name] %></h2>

<ul id="task-box">
  <li class="tasks">
    <div class="descriptor">Description:</div> <%= @task[:description] %>
  </li>
  <li class="tasks">
    <div class="descriptor">Due by:</div> <%= @task[:due_date] %>
  </li>

  <% if @task[:status] == "complete" %>
    <li class="tasks">
      <div class="descriptor">Completed On: </div> <%= @task[:completion_date] %>
    </li>
  <% end %>
</ul>

<div class="task-actions">
  <li class="action"><%= link_to "Edit", edit_task_path(@task.id) %></li>
</div>
