<div class="requested">
  <h1> <%=@task.title%> </h1>
  <p><strong>Description: </strong><%= @task.description%></p>
  <p><strong>Due date: </strong><%= @task.due_date%></p>
  <p><strong>Completed: </strong><%= @task.complete %></p>
  <p><strong>Completed at: </strong><%= @task.completed_at %></p>
</div>
