
  <div class="task-list">
      <h2><%= @task.name %></h2>
      <h4>Description: <%= @task.description %></h4>
      <%if @task.completion_date == nil%>
        <h4>Deadline: <%= @task.deadline %></h4>
      <% else %>
        <h4>Completed on: <%= @task.completion_date %></h4>
      <% end %>

      <p><%= link_to((@task.completion_date == nil ? "Mark completed" : "Unmark completed"), change_status_path(@task.id), method: :patch, alt: 'link to') %> | <%= link_to("Edit", edit_task_path(@task.id), alt: 'link to', method: :get) %> | <%= link_to("Back to task list", tasks_path, alt: 'link to') %> | <%= link_to("Delete", task_path(@task.id), method: :delete) %> </p>



  </div>
