<p>
  PARTIAL!!
</p>

<%= form_for @task do |f| %>

  <%= f.label :name %>
  <%= f.text_field :name %>

  <%= f.label :description %>
  <%= f.text_field :description %>

  <%= f.label :due_date %>
  <%= f.date_field :due_date %>

  <%# how to add class to these? %>
  <%= f.label :complete, class: "checkbox" %>
  <%= f.check_box :complete, class: "checkbox" %>

  <%= f.submit button_name, class: "button" %>
<% end %>
