<!DOCTYPE html>
<html>
  <head>
    <title>TaskList</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <em><p>Params are: <%= params %></p></em>
    <header>
      <h1><%= link_to("TASKLIST", root_path, alt: 'homepage')%></h1>
    </header>

    <nav class="tasklist-options">
      <ul>
        <li><%= link_to("Add Task", new_task_path, alt: 'new_task form') %></li>
        <li><%= link_to("All Tasks", root_path, alt: 'homepage')%></li>
      </ul>
    </nav>

    <%= yield %>
    <footer>
      <h3>&copy; 2017</h3>
    </footer>
  </body>
</html>
