<!DOCTYPE html>
<html>
  <head>
    <title>TaskList</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <h1>TASKLIST</h1>
    </header>

    <main>
      <section id = 'sidebar'>
        <ul>
          <li>
            <strong><%= link_to "Add Task", new_task_path %></strong>
          </li>
          <li>
            <strong><%= link_to "All Tasks", tasks_path %></strong>
          </li>
        </ul>
      </section>

      <section id = 'content'>
        <%= yield %>
      </section>
    </main>

    <footer>
      &copy; 2017
    </footer>
  </body>
</html>
