<!DOCTYPE html>
<html>
  <head>
    <title>TaskList</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <h1>Task List</h1>
      <section = class= "action-buttons">
        <%= button_to("All Tasks", tasks_path, method: :get,  alt: 'button_to', class: "button")%>
        <%= button_to("Add Task", new_task_path, method: :get,  alt: 'button_to', class: "button")%>
      </section>
    </header>
    <!-- <section = class= "side-action-buttons">
      <%= button_to("All Tasks", tasks_path, method: :get,  alt: 'button_to', class: "button")%>
      <%= button_to("Add Task", new_task_path, method: :get,  alt: 'button_to', class: "button")%>
    </section> -->


    <main>
      <%= yield %>
    </main>
    <footer>
      2017
    </footer>
  </body>
</html>
