<!DOCTYPE html>
<html>
  <head>
    <title>TaskList</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <h1>Much Tasks, Many Lists</h1>
    </header>
    <nav><article class="nav_box"></article>
    </article>
      <article class="button">
      <%= link_to "new task", new_task_path %>
      </article>
      <article class="button">
        <%= link_to "all tasks", tasks_path %>
      </article>
    </nav>
    <article class="content">
    <%= yield %>
  </article>
  </body>
</html>
