<!DOCTYPE html>
<html>
  <head>
    <title>Task List</title>
    <%= csrf_meta_tags %>
    <link href="https://fonts.googleapis.com/css?family=Fredericka+the+Great" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag 'favicon-list-alt.ico'%>

  </head>

  <div class="wrapper">
    <body>
      <a href="/"><h2 class="title">TASKLIST</h2></a>
      <main>
        <div class="navigation">
          <div class="nav-link"><%= link_to "Add task", new_task_path, method: :get %></div>
          <div class="nav-link"><%= link_to "All tasks", tasks_path, method: :get %></div>
        </div>
        <div class="content">
          <%= yield %>
        </div>
      </main>

      <footer>
        <span class="footer"><span class="copyright">&copy </span>2017 Victoria Sawchuk</span>
      </footer>
    </body>
  </div>

</html>
