<!DOCTYPE html>
<html>
  <head>
    <title>TaskList</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <div class="leftline">
      <h1> TASKLIST</h1>
      <h3> <%= link_to "Add task", new_task_path%> </h3>
      <h3><%= link_to "All tasks", home_url %> </h3>
    </div>

    <%= yield %>
  </body>
</html>
