<!DOCTYPE html>
<html>
<head>
  <title>TaskList</title>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet" media="all">
</head>

<body id="gradient" class="zero-margin" >
  <header id ="header-wrapper" class="align-center">
    <h1 class="zero-margin">FINISH YOUR LIFE THINGS</h1>
  </header>

  <main>

    <div id="nav-and-article-wrapper" class="clearfix round-border">

      <nav id="main-nav" class="align-center">
        <header>
          <h2 class="increase-font">OPTIONS</h2>
        </header>
        <ul class="no-bullet">
          <li>
            <%= link_to "Add a task", new_task_path, class: "hvr-border-fade no-underline equal-width round-border" %>
          </li>
          <li>
            <%= link_to "All tasks", tasks_path, class: "hvr-border-fade no-underline equal-width round-border" %>
          </li>
        </ul>
      </nav>

      <div id="main-article-wrapper">

        <%= yield %>
        <%# Yield to the index %>
      </div>

    </main>
  </div>

  <footer id="main-footer" class="align-center">
    <p>
      &copy; COPYRIGHT 2017
    </p>
  </footer>

</body>
</html>
