<!DOCTYPE html>
<html>
  <head>
    <title>TaskList</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

      <header>
        <h1>Tasks List</h1>

        <div class="button-wrapper">
          <%= button_to "Add Task", {:controller => :tasks,
          :action => 'new' }, :method => :get %>
          <%= button_to "All Tasks", {:controller => :tasks,
          :action => 'index' }, :method => :get %>
        </div>

      </header>

      <main>
        <%= yield %>
      </main>

      <footer>
        &copy; copywrite 2017
      </footer>

  </body>
</html>
