<!DOCTYPE html>
<html>
  <head>
    <title>TaskList</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">


    
  </head>

  <body>
    <header>
      <h1>TASKLIST</h1>
    </header>
    <main>
      <div class="button-container">
        <p class="button"><%= link_to("Add Task", new_task_path, alt: 'link to')%></p>
        <p class="button"><%= link_to("All Tasks", tasks_path, alt: 'link to')%></p>
      </div>
      <%= yield %>
    </main>
    <footer>
      <p>copyright 2017</p>
    </footer>
  </body>
</html>
